body {
    background: url(../imagenes/fondomatrix.jpg);
    background-size: cover;
}

#contenedorsuperior {
    left: 30%;
    width: 40%;
    height: 100px;
    position: relative;
}

#subtitulos {
    left: 10%;
    width: 80%;
    height: 100px;
    position: relative;
}

.titulo {
    left: 5%;
    text-align: center;
    position: relative;
}

.titulovideo {
    top: -5%;
    position: relative;
}

.titulogif {
    top: -5%;
    left: 20%;
    position: relative;
}

.titulomusica {
    top: -10%;
    left: 40%;
    position: relative;
}

.video {
    position: relative;
    width: 400px;
    height: 300px;
    left: 5%;
}

.lista-reproduccion {
    position: relative;
    width: 270px;
    top: -300px;
    left: 70%;
}

.gif {
    position: relative;
    width: 400px;
    height: 240px;
    left: 35%;
    top: -495px;
}

.java {
    position: relative;
    top: -370px;
    left: 12%;
    height: 340px;
    width: 1150px;
}

.java img {
    position: relative;
    width: 1150px;
}

#selectTrack {
    height: 165px;
}